.main-bg {
    background-image: url('../img/orange.png');
}

.white-bg {
    background-color: var(--white-color);
    
    font-size: 2rem;
    color: var(--primary-color) ;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

.profile-spacing {
    height: 65px;
}